<%- include('partials/header') %>

    <h1>Home page</h1>
    <a href="/register" role="button" class="btn btn-primary">Register</a>
    <a  href="/login" role="button" class="btn btn-primary">Login</a>

<%- include('partials/footer') %>